/* 
COLORS: 
  blue - #41B6E6; 
  pink - #DB3EB1; 
  gold - #F5D005 
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #1E1E1E;
  color: #ffffff;
  line-height: 1.5;
}

header {
  height: 60px;
}

.logo{
  height: 50px;
  width: 50px;
  margin: 5px;
}

h1 {
  font-family: 'Allerta', sans-serif;
  color: #41B6E6;
  text-align: center;
  position: absolute;
  top: 12px;
  left: 50%;
  margin-left: -100px;
  font-size: 24px;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

main {
  padding: 0 5%;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.comparing-attributes, .ordered-set-of-pieces {
  max-width: 90%;
  height: auto;
  margin: 15px 15px;
}

.input-container {
  margin: 10px 0;
}

.input-container i {
  padding-left: 15px;
  padding-right: 10px;
}

p {
  font-size: 12px;
  padding-bottom: 10px;
}

.button-container {
  display: flex;
}

.button {
  background-color: #DE9AE8;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 30px;
  border: solid 1px #DB3EB1;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 30px;
  text-align: center;
  margin: 10px auto;
  align-items: center;
  text-decoration: none;
  box-shadow: 3px 3px 5px 0 rgba(222, 154, 232, .5);
}

.modal .button-container {
  padding-top: 10px;
}

.modal {
  background-color: #000000;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px #1E1E1E;
  box-shadow: 3px 3px 5px 3px rgba(65, 182, 230, .5);
}

.fixed {
  position: fixed;
  top: 75px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
}

.modal img {
  width: 75%;
  display:block;
  margin-left: auto;
  margin-right: auto; 
}

.modal .fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

input, select {
  padding: 5px 5px;
  width: 185px;
}

input:focus, select:focus {
  outline: 2px solid #DE9AE8;
}

input, select {
  padding: 5px 5px;
  width: 150px;
}

.button:active {
  outline: none;
  background-color: #ce6bdd;
}

.button:focus {
  outline: none;
  background-color: #ce6bdd;
}

.pointer {
  cursor: pointer;
}

.board-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 320px;
  min-width: 320px;
}

.cell {
  width: 75px;
  height: 75px;
  margin: 2px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardPieceLarge {
  max-width: auto;
  max-height: 100%;
}

.boardPieceSmall {
  max-width: auto;
  max-height: 50%;
}

.bankPieceImg {
  max-width: auto;
  max-height: 100%;
}

.bank-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bank {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 320px;
  min-width: 320px;
  justify-content: center;
  align-items: center;
}

.smallBankPiece {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.largeBankPiece {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.selected-piece {
  box-shadow: 0 0 3pt 2pt #ffffff;
  /* outline: white solid 2px; */
}

.last-placed {
  box-shadow: 0 0 3pt 2pt #ffffffb4;
}

.winning-cell {
  box-shadow: 0 0 3pt 2pt #F5D005;
  /* border: solid #F5D005 3px;
  border-radius: 3px; */
}

.losing-cell {
  box-shadow: 0 0 3pt 2pt #41B6E6;
  /* border: solid #41B6E6 3px;
  border-radius: 3px; */
}

.end-game-message-container {
  margin-top: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winning-words {
  color: #F5D005;
}

.losing-words {
  font-size: 16px;
}

.winning-gif, .losing-gif {
  max-width: auto;
  max-height: 60%;
  margin-bottom: 15px;
}

.direction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: black;
  width: 100%;
  height: 40px;
}

.direction {
  font-size: 16px;
  padding-bottom: 0;
}

.selection-phase {
  color: #ce6bdd;
  font-weight: bold;
}

.placement-phase {
  color: #41B6E6;
  font-weight: bold;
}
